body {
  font-size: 10px;
  background: #f7971e;
  background: -webkit-linear-gradient(to right, #ffd200, #f7971e); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffd200, #f7971e);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  margin-top: 2em;
  height: 2rem;
  width: 50vw;
}

.input {
  border-bottom: 1px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  background: transparent;
  width: 70vw;
  font-size: 16px;
}

input:focus {
  outline: none;
  background: rgba(255, 255, 255, 0.1);
}

.check {
  width: 35vw;
  background: #ffd200;
  border: 0;
  font-weight: bold;
}

.check:focus {
  outline: none;
}

.check:hover {
  background-color: #f7971e;
}

.image-header {
  background-color: black;
  height: 10vh;
}

.status {
  min-height: 70vh;
  margin-top: 5rem;
}

.image {
  text-align: center;
  color: #ffff;
  height: 5vh;
  background: black;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.name {
  text-align: center;
  font-weight: bold;
  margin: 1rem;
  font-size: 21px;
}

.temp {
  display: flex;
  justify-content: space-around;
  margin: 4rem 2em 0 2rem;
}

.description {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  margin-top: 6rem;
}
